/*

!.gitignore
!README.md
!COPYING
!AUTHORS
!INSTALL
!ChangeLog
!NEWS

!autogen.sh
!autoclean.sh
!configure.ac
!Makefile.am

!src
src/*
!src/Makefile.am
!src/jed.c
!src/jed.h

!lib
lib/*
!lib/gettext.h

!m4
m4/*
!m4/libcurl.m4
!m4/ChangeLog

!doc
doc/*
!doc/Makefile.am
!doc/jed.texi

!po
po/*
!po/fr.po
!po/jed.pot
!po/LINGUAS
!po/Makevars
!po/POTFILES.in

**.o
**.log
**/.DS_Store
